* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.GamesBox {
  width: 100%;
  min-height: 960px;
}

@media screen and (max-width:600px) {
  .GamesBox {
    min-height: 500px;
  }
}